<!DOCTYPE html>
<html lang="en">

<head>
  {{>headerlink}}
</head>

<body>
  <div>
    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <!-- left side div -->
            <figure>
              <img src="images/about.png" alt="Ross" class="img-fluid" title="Technical Ross">
            </figure>
            <div class="col-md-6 col-12 mx-header_left">
              <p>Welcome to the Weather app</p>
              <h1>I am a<span class="text_clr"> Mern Stack Developer </span> and Freelancer</h1>
              <a href="/weather"><button>Check now</button></a>
            </div>
          </div>
          <!-- right side div -->
        </div>
      </div>
    </div>
  </div>
  {{>footer}}
</body>

</html>